<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserHomePage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Upper_Layer/userHomePage.css' %}">
</head>
<body>
    <div class="background-section" >
        <!-- Content for the section with background image -->
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#">zomato</a>
            </div>
            <div class="navbar-links">
                <a href="#">Investor Relations</a>
                <a href="#">Add restaurant</a>
            </div>
        </nav>

        <div class="content">
            <h1>Discover the best food & drinks in Raipur</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search for restaurant, cuisine or a dish">
            </div>
        </div>

    </div>
</body>
</html>