<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserHomePage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Upper_Layer/userHomePage.css' %}">
</head>
<body>
    <div class="background-section">
        <!-- Content for the section with background image -->
        <nav class="navbar">
            <div class="navbar-brand">
                <a href="#">HairHub</a>
            </div>
            <div class="navbar-links">
                <a href="#">Investor Relations</a>
                <a href="#">Add Salon</a>
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="dropbtn">
                            <img src="/static/images/user.jpg" alt="Profile Picture" class="profile-pic"> {{user.username}} <span>&#9660;</span>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Profile</a>
                            <a href="#">Notifications</a>
                            <a href="#">Bookmarks</a>
                            <a href="#">Reviews</a>
                            <a href="#">Network</a>
                            <a href="#">Find friends</a>
                            <a href="#">Settings</a>
                            <a href="{% url 'logout' %}">Log out</a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'signup' %}">Signup</a>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <h1>Discover the best Salon </h1>
            <div class="search-bar">
                <input type="text" placeholder="Search for best Salon">
            </div>
        </div>
    </div>
        <div class="content">
            
            <div class="cards-container">
                <a href="{% url 'salon' %}" class="card">
                    <img src="{% static 'images/mens_salon.jpg' %}" alt="Card 1">
                    <div class="card-title">men salon</div>
                </a>
                <div class="card">
                    <img src="{% static 'images/women_salon.jpeg' %}" alt="Card 2">
                    <div class="card-title">women salon</div>
                </div>
                <div class="card">
                    <img src="{% static 'images/unisex.jpeg' %}" alt="Card 3">
                    <div class="card-title">unisex salon</div>
                </div>
            </div>
            </div>
        </div>
    <script src="{% static 'Upper_Layer/js/userHomePage.js' %}"></script>
</body>
</html>
