
.contact-header {
    background: url('your-background-image.jpg') no-repeat center center;
    background-size: cover;
    color: rgb(10, 10, 10);
    padding: 40px 0;
    text-align: center;
}
.contact-header h2 {
    font-size: 2.5rem;
    font-weight: bold;
}
.contact-info h5 {
    font-weight: bold;
    margin-top: 5px;
}
.contact-info p {
    margin: 10px 0;
}
.social-links a {
    color: #007bff;
    margin: 0 10px;
    font-size: 1.1rem;
    text-decoration: none;
}
.social-links a:hover {
    text-decoration: underline;
}
.contact-form {
    margin-top: 40px;
}
.contact-form h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
.form-control {
    border-radius: 0.25rem;
}


.bg-image {
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.info-box {
    margin-top: 2rem; /* Adds space above the information box */
}

.modal-header.bg-primary {
    background-color: #007bff; /* Blue color for the modal header */
}

.modal {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
}


